// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show_contacts {
  .show_contact_header {
    margin-left:5px;
    margin-bottom:25px;
  }
}
.alert-success {
  margin-top:25px;
  width:40%;
}



